{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Website</title>
    {% block extra_css %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    {% include "components/navbar.html" %}

    {% block content %}

    {% endblock %}

    {% include "components/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        // Page load hote hi body lock rahegi
        document.body.classList.add('loading');

        window.addEventListener('load', function () {
            const preloader = document.getElementById('preloader');

            // Thoda delay taaki animations smoothly ready ho jayein
            setTimeout(() => {
                preloader.style.opacity = '0';

                setTimeout(() => {
                    preloader.style.display = 'none';
                    document.body.classList.remove('loading'); // Scroll enable karein

                    // AOS tabhi chalega jab loader hatega
                    AOS.init({
                        duration: 900,
                        once: true,
                        offset: 100
                    });
                }, 500); // Fade out ke baad display none karein
            }, 1000); // 1 second loader dikhayega
        });
    </script>
    {% if messages %}
    <script>
        {% for m in messages %}
        {% if m.tags == 'success' %}
        var bg = "green";
        {% elif m.tags == 'error' %}
        var bg = "red";
        {% else %}
        var bg = "blue";
        {% endif %}

        Toastify({
            text: "{{ m }}",
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: bg,
            close: true,
        }).showToast();
        {% endfor %}
    </script>
    {% endif %}

</body>

</html>