{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
   .badge-status {
      font-size: .85rem;
      font-weight: 600;
   }
</style>
{% endblock %}
{% block content %}
<div class="container my-5">
   <h3 class="fw-bold mb-4">My Bus Bookings</h3>

   {% if bookings %}
   <div class="row g-4">
      {% for booking in bookings %}
      <div class="col-md-4">
         <div class="card shadow-sm rounded-4">
            <div class="card-body">

               <div class="d-flex justify-content-between">
                  <h5 class="fw-bold text-primary text-capitalize">
                     {{ booking.bus.bus_name }}
                  </h5>
                  <p
                     class="badge-status text-white px-2 py-1 rounded-2 {% if booking.booking_status == 'CONFIRMED' %}bg-success {% elif booking.booking_status == 'PENDING' %}bg-warning{% else %}bg-danger{% endif %}">
                     {{ booking.booking_status }}
                  </p>
               </div>
               <p class="mb-1">
                  <strong>PassengerName:</strong>
                  {{ booking.passenger_name }}
               </p>
               <p class="mb-1">
                  <strong>Age:</strong>
                  {{ booking.passenger_age }}
               </p>
               <p class="mb-1">
                  <strong>Phone:</strong>
                  {{ booking.passenger_phone }}
               </p>
               <p class="mb-1">
                  <strong>Gender:</strong>
                  {{ booking.passenger_gender }}
               </p>
               <p class="mb-1">
                  <strong>Route:</strong>
                  {{ booking.bus.source }} → {{ booking.bus.destination }}
               </p>
               <p class="mb-1">
                  <strong>Seat No:</strong>
                  {{ booking.seat_number }}
               </p>
               <p class="mb-1">
               <p class="mb-1">
                  <strong>Date:</strong> {{ booking.travel_date }}
               </p>
               <p class="mb-1">
                  <strong>Price:</strong> ₹{{ booking.price }}
               </p>

               <small class="text-muted">
                  Booked on {{ booking.booked_at|date:"M d, Y h:i A" }}
               </small>
               {% if booking.booking_status != 'CONFIRMED' %}
               <div class="row mt-3">
                  <div class="col-auto">
                     <form method="post" action="{% url 'cancel_booking' booking.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger fw-semibold">
                           Cancel Booking
                        </button>
                     </form>
                  </div>
                  <div class="col-auto">
                     <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-success fw-semibold">
                           Payment
                        </button>
                     </form>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   {% else %}
   <div class="alert alert-info">
      No bookings yet.
   </div>
   {% endif %}
</div>
{% endblock %}